img.right-image {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px; /* Optional: Add some margin for spacing */
    border-radius: 50%;
}

header,
ul {
    color: white;
    background-color: blue;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.navigation {
    list-style: none;
    padding: 0;
    display: flex;
    /* Use flexbox to align the list items horizontally */
    justify-content: center;
    /* Center the list items horizontally */
}

.navigation li {
    margin: 0 10px;
    /* Add spacing between list items */
    display: inline;
    /* Make the list items display as inline elements */
}

a{
    color:white;
    text-decoration: none;
}
